@using EveTools.Web.Models
@model ICollection<EveTools.Web.Models.AssetSummary>
           
@helper RenderCells(AssetSummary i)
{
    <td>@i.Name</td>
    <td class="text-right">@(i.Quantity.HasValue ? i.Quantity.Value.ToString("N0") : "")</td>
    <td class="text-right">@i.TotalValue.ToString("C2")</td>
    <td class="text-right">@i.TotalVolume.ToString("N2")</td>
}
           
@helper Render(ICollection<EveTools.Web.Models.AssetSummary> assets)
{
    <table class="table">
        <tr>
            <th>Name</th>
            <th>Quantity</th>
            <th>Total Value</th>
            <th>Total Volume</th>
        </tr>
        @foreach (var i in assets.OrderByDescending(i => i.TotalValue).ThenByDescending(i => i.Quantity))
        {
            if (i.Children != null && i.Children.Any())
            {
                var id = Guid.NewGuid();
                <tr data-target="#@id" data-toggle="collapse" class="info" style="cursor: pointer">
                    @RenderCells(i)
                </tr>
                <tr class="collapse" id="@id">
                    <td colspan="4">
                        @Render(i.Children)
                    </td>
                </tr>
            }
            else
            {
                <tr>
                    @RenderCells(i)
                </tr>
            }
        }
    </table>
}

@Render(Model)