@model System.Collections.Generic.List<EveTools.Web.Models.IndustryStatusModel>

<h2>Industry Status</h2>
@foreach (var a in Model.GroupBy(i => i.Activity))
{
    <h4>@a.Key</h4>
    <table class="table">
        <tr>
            <th>Installer</th>
            <th>Latest Installed Job</th>
            <th>Current Count</th>
            <th>Next job completes in</th>
        </tr>
        @foreach (var p in a.OrderBy(i => i.InstallerName))
        {
            <tr @Html.Raw(p.CurrentJobCount < p.MaxJobCount ? @"class=""info""" : "")>
                <td>@p.InstallerName</td>
                <td>@p.LatestInstalledJob</td>
                <td>@p.CurrentJobCount</td>
                <td>@p.TimeUntilNextComplete</td>
            </tr>
        }
    </table>
}
<script type="text/javascript">
    setTimeout(function () { location.reload(1); }, 120000);
</script>